# URL del proyecto Supabase (encontrar en Project Settings > API)
VITE_SUPABASE_URL=https://your-supabase-url.supabase.co

# Llave anónima pública de Supabase (anon key)
VITE_SUPABASE_ANON_KEY=your-anon-key
